body {
  background-color: #191919;
  margin: 0;
}

h1, h2 {
  font-weight: normal;
}

h1 {
  font-size: 60px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #fff;
  text-decoration: none;
}

.intro {
  padding: 30px;
}

.intro p {
  font-size: 40px;
}

#app {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
}

.row { font-size:0; position:relative; }
.column {
  display:inline-block; vertical-align: top; font-size: 16px; min-height:1px; height: 100%;
}
.column img { max-width:100%; height:auto !important; }
    /* columns */

    .column-1   { width: 8.333333333333%; }
    .column-2   { width: 16.66666666667%; }
    .column-3   { width: 25%; }
    .column-4   { width: 33.33333333333%; }
    .column-5   { width: 41.66666666667%; }
    .column-6   { width: 50%; }
    .column-7   { width: 58.33333333333%; }
    .column-8   { width: 66.66666666667%; }
    .column-9   { width: 75% }
    .column-10  { width: 83.33333333333%; }
    .column-11  { width: 91.66666666667%; }
    .column-12  { width: 100%; }

    .column-10-2  { width:10%; }
    .column-15  { width:15%; }
    .column-20  { width:20%; }
    .column-25  { width:25%; }
    .column-30  { width:30%; }
    .column-35  { width:35%; }
    .column-40  { width:40%; }
    .column-45  { width:45%; }
    .column-50  { width:50%; }
    .column-55  { width:55%; }
    .column-60  { width:60%; }
    .column-65  { width:65%; }
    .column-70  { width:70%; }
    .column-75  { width:75%; }
    .column-80  { width:80%; }
    .column-85  { width:85%; }
    .column-90  { width:90%; }
    .column-95  { width:95%; }
    /* end columns */

    /* offsets */
    .row .offset-1   { margin-left: 8.5%; }
    .row .offset-2   { margin-left: 17%; }
    .row .offset-3   { margin-left: 25.5%; }
    .row .offset-4   { margin-left: 34%; }
    .row .offset-5   { margin-left: 42.5%; }
    .row .offset-6   { margin-left: 51%; }
    .row .offset-7   { margin-left: 59.5%; }
    .row .offset-8   { margin-left: 68%; }
    .row .offset-9   { margin-left: 76.5%; }
    .row .offset-10  { margin-left: 85%; }
    .row .offset-11  { margin-left: 93.5%; }
    /* end offsets */

.home-column {
    position: relative;
    height: 100vh;
}

.hayden {
  background-image: url(../images/Hayden-sized.jpg);
}

.joel {
  background-image: url(../images/Joel-sized.jpg);
}

.gradient-mask {
  height: 100%;
}

.gradient-mask:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease;
  z-index: 3;
  opacity: 0;
}

.hayden .gradient-mask {
    background: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(53, 92, 125, 0.5));
    background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(53, 92, 125, 0.5));
}

.hayden .gradient-mask:after {
    background: -webkit-linear-gradient(90deg, rgba(53, 92, 125, 0.8), rgba(53, 92, 125, 0.8));
    background: linear-gradient(90deg, rgba(53, 92, 125, 0.8), rgba(53, 92, 125, 0.8));
}

.joel .gradient-mask {
    background: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(127, 38, 31, 0.5));
    background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(127, 38, 31, 0.5));
}

.joel .gradient-mask:after {
    background: -webkit-linear-gradient(90deg, rgba(127, 38, 31, 0.8), rgba(127, 38, 31, 0.8));
    background: linear-gradient(90deg, rgba(127, 38, 31, 0.8), rgba(127, 38, 31, 0.8));
}

.gradient-mask:hover:after {
  opacity: 1;
}

.home-column .project-link {
  position: absolute;
  bottom: 30px;
  left: 30px;
  z-index: 5;
  -webkit-transition:all 0.5s ease;
       -moz-transition:all 0.5s ease;
        -ms-transition:all 0.5s ease;
         -o-transition:all 0.5s ease;
            transition:all 0.5s ease;
}

.gradient-mask:hover .project-link {
  bottom: 50%;
}

.project-link h2 {
  text-transform: uppercase;
  font-size: 34px;
  margin: 0px;
}

.project-link p {
  text-transform: lowercase;
}